.idea/
venv/
*__pycache__*

pilot/gsat_results/*.csv
pilot/gsat_results/*.txt

pilot/probsat_results/*.csv
pilot/probsat_results/*.txt

experiment/gsat_results/*.csv
experiment/gsat_results/*.txt

experiment/probsat_results/*.csv
experiment/probsat_results/*.txt
